* {
    margin: 0px;
}
body {
    margin: 10px;
}
input[name='msg'] {
    padding: 5px;
    width: 100%;
}
h3 {
    text-align: center;
    border-bottom: 1px red solid;
}
table {
    border: 1px solid red;
    border-collapse: collapse;
    margin: 10px;
}
tr {
    border: 1px solid red;
}
td, th {
    text-align: center;
    border: 1px solid red;
    padding: 10px;


}
.rooms {
    width: 70%;
    display: none;
    /* grid-template-columns: 1fr 4fr; */
}
.chatroom {
    width: 70%;
    display: none;
    grid-template-columns: 1fr 4fr;
}
.online {
    height: 100%;
    border: 1px solid red;
    border-right: none;
}
.chats {
    background-color: #ddd;
    border: 1px solid red;
}
.messages {
    height: 400px;
    background-color: white;
    padding: 5px;
}